<div class="about-us hidden-xs">
    <div class="container">
        <h2 class="section-title">О нас</h2>
        <div class="about-us__content">
            <p>Залог нашего успеха - Внимание и Позитив. Наши операторы с удовольствием помогают сделать выбор из разнообразного ассортимента шаров, композиций и букетов.</p>
            <a class="about-us__link" href="#">Подробнее</a>
        </div>
    </div>
</div>
<!-- about-us -->
