<div class="advantages hidden-xs">
    <div class="container">
        <h2 class="section-title">6 причин заказать шарики у нас:</h2>
        <div class="advantages__content">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="advantages__item">
                        <img class="advantages__img" src="img/icon/advantages-1.png" alt="креативный подход">
                        <div class="advantages__text">креативный
                            <br> подход</div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="advantages__item">
                        <img class="advantages__img" src="img/icon/advantages-2.png" alt="доступные цены">
                        <div class="advantages__text">доступные
                            <br> цены</div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="advantages__item">
                        <img class="advantages__img" src="img/icon/advantages-3.png" alt="профессионализм и качество">
                        <div class="advantages__text">профессионализм
                            <br> и качество</div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="advantages__item">
                        <img class="advantages__img" src="img/icon/advantages-4.png" alt="качественные шары">
                        <div class="advantages__text">качественные
                            <br> шары
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="advantages__item">
                        <img class="advantages__img" src="img/icon/advantages-5.png" alt="быстрые сроки">
                        <div class="advantages__text">быстрые
                            <br> сроки</div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="advantages__item">
                        <img class="advantages__img" src="img/icon/advantages-6.png" alt="акции и скидки">
                        <div class="advantages__text">акции
                            <br> и скидки</div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- advantages__content -->
    </div>
    <!-- container -->
</div>
<!-- advantages -->
