<div class="feedback hidden-xs">
    <div class="container">
        <h2 class="section-title">Не смогли дозвониться? Пишите!</h2>
        <div class="feedback__text">Отправьте заявку прямо сейчас,
            <br> и мы свяжемся с Вами в ближайшее рабочее время!</div>
        <form class="feedback__form col-md-offset-2 col-md-8">
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Имя">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pwd" placeholder="Телефон">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="10" placeholder="Комментарий"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Отправить</button>
        </form>
    </div>
    <!--  container-->
</div>
<!--  callback -->
