<div class="cart">
    <div class="container">
        <div class="catalog__cart">
            <div class="row">
                <div class="col-md-3">
                    <h2 class="visible-xs">Розовый пастель 30см</h2>
                    <img class="img-responsive img_zoom cart-img" src="/img/cart-item.png" alt="">
                </div>
                <div class="col-md-9">
                    <h2 class="section-title hidden-xs">Розовый пастель 30см</h2>
                    <div class="item-ifo">
                        <div class="price">
                            Цена: <span>200 тг.</span>
                        </div>
                        <div class="to-basket">
                            <a href="" class="btn">В корзину <span class="icon"><img src="img/icon/basket.png" alt=""></span></a><a class="one-click" href="">Купить в один клик</a>
                        </div>
                        <div class="item-fields">
                            <div><b>Производитель:</b> Sempertex (Колумбия)</div>
                            <div><b>Размер:</b> 12 дюймов (30 сантиметров)</div>
                            <div><b>Держится в воздухе:</b> 2-4 дней</div>
                        </div>
                        <div class="info-description">
                            <p>
                                Светлый и нежный воздушный букет – прекрасный подарок-поздравление родителям новорожденного мальчика. Облако из 18ти нежных голубых, синих, зеленых, салатовых и белых латексных шариков в компании трех фольгированных кругов с тематическими рисунками и надписями. Эта нежная композиция поможет вам выразить свои теплые чувства и сделать этот знаменательный день еще трогательнее и светлее.
                            </p>
                            <p>
                                Шарики надуты газом гелием, который помогает им летать не более 12 часов. Но благодаря обработке шаров изнутри специальным составом Hi-Float мы дарим Вам радость от полета, длящуюся до 3-х суток и дольше.
                            </p>
                        </div>
                        <div class="item-contains">
                            <h3>В этом наборе 21 шарик из них:</h3>
                            <div class="row contains-items">
                                <div class="col-md-3 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-5 col-xs-5">
                                            <img src="/img/catalog-item-1.jpg" alt="" class="img-responsive pull-left">
                                        </div>
                                        <div class="col-md-7 col-xs-7">
                                            <p>
                                                х1 Круг коляска в горошек- Это мальчик
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-5 col-xs-5">
                                            <img src="/img/catalog-item-1.jpg" alt="" class="img-responsive pull-left">
                                        </div>
                                        <div class="col-md-7 col-xs-7">
                                            <p>
                                                х1 Круг It's a boy
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-5 col-xs-5">
                                            <img src="/img/catalog-item-1.jpg" alt="" class="img-responsive pull-left">
                                        </div>
                                        <div class="col-md-7 col-xs-7">
                                            <p>
                                                х1 Круг Маленький принц Корона
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-5 col-xs-5">
                                            <img src="/img/catalog-item-1.jpg" alt="" class="img-responsive pull-left">
                                        </div>
                                        <div class="col-md-7 col-xs-7">
                                            <p>
                                                х18 Ассорти Бой
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-extra clearfix">
                            <div class="pull-left icon">
                                <img src="/img/extra.png" class="img-responsive" alt="">
                            </div>
                            <div class="extra-info">
                                <span>Если пожелаете колличество шариков можно увеличить!</span>
                                <br /> Для этого укажите в коментарии к заказу какое колличество шаров Вам необходимо.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- catalog__content -->
    </div>
    <!-- container -->
</div>
