<div class="catalog">
    <div class="container">
        <div class="catalog__content">
            <div class="row">
                <div class="catalog__item col-md-3 col-sm-4 col-xs-6">
                    <a href="#">
                        <img class="catalog__item-img" src="/img/catalog-1.jpg" alt="">
                        <div class="catalog__item-text">Гелиевые шары</div>
                    </a>
                </div>
                <div class="catalog__item col-md-3 col-sm-4 col-xs-6">
                    <a href="#">
                        <img class="catalog__item-img" src="/img/catalog-1.jpg" alt="">
                        <div class="catalog__item-text">Гелиевые шары</div>
                    </a>
                </div>
                <div class="catalog__item col-md-3 col-sm-4 col-xs-6">
                    <a href="#">
                        <img class="catalog__item-img" src="/img/catalog-1.jpg" alt="">
                        <div class="catalog__item-text">Гелиевые шары</div>
                    </a>
                </div>
                <div class="catalog__item col-md-3 col-sm-4 col-xs-6">
                    <a href="#">
                        <img class="catalog__item-img" src="/img/catalog-1.jpg" alt="">
                        <div class="catalog__item-text">Гелиевые шары</div>
                    </a>
                </div>
                <div class="catalog__item col-md-3 col-sm-4 col-xs-6">
                    <a href="#">
                        <img class="catalog__item-img" src="/img/catalog-1.jpg" alt="">
                        <div class="catalog__item-text">Гелиевые шары</div>
                    </a>
                </div>
                <div class="catalog__item col-md-3 col-sm-4 col-xs-6">
                    <a href="#">
                        <img class="catalog__item-img" src="/img/catalog-1.jpg" alt="">
                        <div class="catalog__item-text">Гелиевые шары</div>
                    </a>
                </div>
                <div class="catalog__item col-md-3 col-sm-4 col-xs-6">
                    <a href="#">
                        <img class="catalog__item-img" src="/img/catalog-1.jpg" alt="">
                        <div class="catalog__item-text">Гелиевые шары</div>
                    </a>
                </div>
                <div class="catalog__item col-md-3 col-sm-4 col-xs-6">
                    <a href="#">
                        <img class="catalog__item-img" src="/img/catalog-1.jpg" alt="">
                        <div class="catalog__item-text">Гелиевые шары</div>
                    </a>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- catalog__content -->
    </div>
    <!-- container -->
</div>
<!-- catalog -->
