<div class="category">
    <div class="container">
        <div class="category__content">
            <div class="row">
                <div class="product__item col-md-3 col-sm-4 col-xs-6">
                    <a href="/cart.html">
                        <div class="product__item-pic">
                            <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                        </div>
                        <div class="product__item-basket">
                            <span><img src="/img/icon/basket.png" alt=""></span>
                        </div>
                        <div class="product__item-text">Малиновый пастель 30см</div>
                    </a>
                </div>
                <div class="product__item col-md-3 col-sm-4 col-xs-6">
                    <a href="/cart.html">
                        <div class="product__item-pic">
                            <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                        </div>
                        <div class="product__item-basket">
                            <span><img src="/img/icon/basket.png" alt=""></span>
                        </div>
                        <div class="product__item-text">Малиновый пастель 30см</div>
                    </a>
                </div>
                <div class="product__item col-md-3 col-sm-4 col-xs-6">
                    <a href="/cart.html">
                        <div class="product__item-pic">
                            <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                        </div>
                        <div class="product__item-basket">
                            <span><img src="/img/icon/basket.png" alt=""></span>
                        </div>
                        <div class="product__item-text">Малиновый пастель 30см</div>
                    </a>
                </div>
                <div class="product__item col-md-3 col-sm-4 col-xs-6">
                    <a href="/cart.html">
                        <div class="product__item-pic">
                            <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                        </div>
                        <div class="product__item-basket">
                            <span><img src="/img/icon/basket.png" alt=""></span>
                        </div>
                        <div class="product__item-text">Малиновый пастель 30см</div>
                    </a>
                </div>
                <div class="product__item col-md-3 col-sm-4 col-xs-6">
                    <a href="/cart.html">
                        <div class="product__item-pic">
                            <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                        </div>
                        <div class="product__item-basket">
                            <span><img src="/img/icon/basket.png" alt=""></span>
                        </div>
                        <div class="product__item-text">Малиновый пастель 30см</div>
                    </a>
                </div>
                <div class="product__item col-md-3 col-sm-4 col-xs-6">
                    <a href="/cart.html">
                        <div class="product__item-pic">
                            <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                        </div>
                        <div class="product__item-basket">
                            <span><img src="/img/icon/basket.png" alt=""></span>
                        </div>
                        <div class="product__item-text">Малиновый пастель 30см</div>
                    </a>
                </div>
                <div class="product__item col-md-3 col-sm-4 col-xs-6">
                    <a href="/cart.html">
                        <div class="product__item-pic">
                            <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                        </div>
                        <div class="product__item-basket">
                            <span><img src="/img/icon/basket.png" alt=""></span>
                        </div>
                        <div class="product__item-text">Малиновый пастель 30см</div>
                    </a>
                </div>
                <div class="product__item col-md-3 col-sm-4 col-xs-6">
                    <a href="/cart.html">
                        <div class="product__item-pic">
                            <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                        </div>
                        <div class="product__item-basket">
                            <span><img src="/img/icon/basket.png" alt=""></span>
                        </div>
                        <div class="product__item-text">Малиновый пастель 30см</div>
                    </a>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- category__content -->
        <div class="pagination-wrapper">
            <ul class="pagination hidden-xs">
                <li><a class="page-link prev" href="/cart.html">&nbsp;</a></li>
                <li><a class="active" href="/cart.html">1</a></li>
                <li><a href="/cart.html">2</a></li>
                <li><a href="/cart.html">3</a></li>
                <li><a class="page-link next" href="/cart.html">&nbsp;</a></li>
            </ul>
            <a href="" class="btn show-more visible-xs">Показать еще</a>
        </div>
    </div>
    <!-- container -->
</div>
<!-- category -->
