<div class="fast_link">
    <div class="container">
        <div class="row">
            <div class="col-xs-4"><a href="" class="btn">Каталог</a></div>
            <div class="col-xs-4"><a href="" class="btn">Акции</a></div>
            <div class="col-xs-4"><a href="" class="btn">Палитра</a></div>
        </div>
    </div>
</div>
