<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-push-4">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="footer__logo">
                            <img src="/img/footer-logo.png" alt="ШарикиСПб">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="footer__contacts">
                            <p>ИП "Аслаханов ТА"
                                <br/> 880513300447
                                <br/> РК, г.Алматы
                                <br/> мкр.Кулагер 65
                                <br/>
                                <a href="mailto:admin@shariki.kz">admin@shariki.kz</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-pull-8">
                <div class="footer__copyright">
                    <p><span>Copyright © 2016 Шарики.kz</span>
                        <br/>Прочь стереотипы- Дарите впечатления</p>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</footer>
//= modal.html
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src='js/libs/elevatezoom/jquery.elevatezoom.js'></script>
<script src="js/main.js"></script>
</body>

</html>
