<header id="js-header" class="header">
    <div class="header__logo">
        <div class="container">
            <img src="/img/header-logo.png" alt="Шарики СПб">
        </div>
    </div>
    <nav class="navbar navbar-custom">
        <div class="container">
            <div class="row">
                <div class="collapse navbar-collapse header__menu" id="bs-example-navbar-collapse-1">
                    <button type="button" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    </button>
                    <ul class="nav navbar-nav">
                        <li><a class="active" href="/">Главная</a></li>
                        <li><a href="/akcia.html">Акции</a></li>
                        <li class="hidden-xs"><a href="/catalog.html">Каталог</a></li>
                        <li class="dropdown dropdown-submenu hidden-lg hidden-md hidden-sm"><a href="#" class="dropdown-toggle">Каталог
                            <span class="dropup hidden-sm">
                                <span class="caret"></span>
                            </span>
                            </a>
                            <ul class="dropdown-menu visible-xs">
                                <li><a href="#"><span class="icon"><img src="/img/icons/1.png" alt="" /></span>Гелиевые шары</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/2.png" alt="" /></span>Шары без рисунка</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/3.png" alt="" /></span>Фольгированные шары (без рисунка)</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/4.png" alt="" /></span>Шары с рисунками</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/5.png" alt="" /></span>Шары сердца</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/6.png" alt="" /></span>День рождения</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/7.png" alt="" /></span>Шары цифры</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/8.png" alt="" /></span>Новорожденные</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/9.png" alt="" /></span>Фольгированные шары</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/10.png" alt="" /></span>Детские</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/11.png" alt="" /></span>Техника</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/12.png" alt="" /></span>Большие шары</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/13.png" alt="" /></span>Ходячие шары</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/14.png" alt="" /></span>Огромные шары</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/15.png" alt="" /></span>Любовь</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/16.png" alt="" /></span>Светящиеся шары</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/17.png" alt="" /></span>Животные, птицы, рыбы, насекомые</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/18.png" alt="" /></span>Шары "Эконом" на 8 часов</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/19.png" alt="" /></span>Разные</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/20.png" alt="" /></span>Наборы шаров</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/21.png" alt="" /></span>Сезонные</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/22.png" alt="" /></span>Аренда оборудования</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/23.png" alt="" /></span>Фигуры из шаров</a></li>
                                <li><a href="#"><span class="icon"><img src="/img/icons/24.png" alt="" /></span>Коробка сюрприз</a></li>
                            </ul>
                        </li>
                        <li><a href="/delivery.html">Доставка и оплата</a></li>
                        <li><a href="/basic.html">Оформление</a></li>
                        <li><a href="#reviews">Отзывы</a></li>
                        <li><a href="#about">О нас</a></li>
                        <li><a href="#contacts">Контакты</a></li>
                    </ul>
                </div>
                <!--    </div>-->
                <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- /.container -->
    </nav>
</header>
