<div class="main-slider">
    <div class="slide-1">
        <div class="container">
            <div class="slide__text">
                <div class="slide__title">Гелиевые шары</div>
                <a class="slide__btn" href="#">Перейти в каталог</a>
            </div>
        </div>
    </div>
    <div class="slide-1">
        <div class="container">
            <div class="slide__text">
                <div class="slide__title">Гелиевые шары2</div>
                <a class="slide__btn" href="#">Перейти в каталог</a>
            </div>
        </div>
    </div>
    <div class="slide-1">
        <div class="container">
            <div class="slide__text">
                <div class="slide__title">Гелиевые шары3</div>
                <a class="slide__btn" href="#">Перейти в каталог</a>
            </div>
        </div>
    </div>
</div>
<!-- main-slider -->
