<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">

        <h4 class="modal-title" id="myModalLabel">Не смогли дозвониться? Пишите!</h4>
      <p>Отправьте заявку прямо сейчас,<br />и мы свяжемся с Вами в ближайшее рабочее время!</p>
<form>
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Имя">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Телефон">
  </div>
  <div class="form-group">
    <textarea class="form-control" placeholder="Комментарий" id="exampleTextarea" rows="3"></textarea>
  </div>
  <button type="submit" class="btn">Отправить</button>
</form>
      </div>
    </div>
  </div>
</div>