<div class="order hidden-xs">
    <div class="container">
        <h2 class="section-title">как сделать заказ</h2>
        <div class="order__content">
            <div class="order-left">
                <div class="order__item order-1">
                    <div class="order__number">1</div>
                    <div class="order__content">
                        <h3 class="order__title">заявка</h3>
                        <p class="order__text">Оформляете заказ на сайте или по телефону</p>
                    </div>
                </div>
                <div class="order__item order-2">
                    <div class="order__number">2</div>
                    <div class="order__content">
                        <h3 class="order__title">Уточнение деталей</h3>
                        <p class="order__text">Перезваниваем и уточняем детали заказа </p>
                    </div>
                </div>
            </div>
            <div class="order-center">
                <div class="order-pic">
                    <img class="order-img" src="/img/how-make-order.jpg" alt="Как сделать заказ">
                </div>
            </div>
            <div class="order-right">
                <div class="order__item order-3">
                    <div class="order__number">3</div>
                    <div class="order__content">
                        <h3 class="order__title">Оплата</h3>
                        <p class="order__text">Оплачиваете сразу или при доставке </p>
                    </div>
                </div>
                <div class="order__item order-4">
                    <div class="order__number">4</div>
                    <div class="order__content">
                        <h3 class="order__title">доставка</h3>
                        <p class="order__text">Доставляем заказ в назначенный срок</p>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- order__content -->
    </div>
    <!-- container -->
</div>
<!-- order -->
