<div class="page__header">
    <div class="container">
        <ul class="breadcrumb hidden-xs">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Акции</a></li>
        </ul>
        <div class="page-title">
            <h2 class="section-title">Акции</h2>
        </div>
        <ul class="breadcrumb visible-xs">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Акции</a></li>
        </ul>
    </div>
    <!--  container -->
</div>
<!-- page__header -->