<div class="palitra">
    <div class="container">
        <div class="palitra__content">
            <div class="row">
                <div class="left-sidebar col-md-3">
                    <div class="sidebar-menu">
                        <ul>
                            <li class="active"><a href="">Пасстель - бельгия</a></li>
                            <li><a href="">Металлик - бельгия</a></li>
                            <li><a href="">Пастель - Италия</a></li>
                            <li><a href="">Шары 27” / 60 см - Пастель</a></li>
                            <li><a href="">Шары 27” / 60 см - Металлик</a></li>
                            <li><a href="">Фольга 45 см</a></li>
                            <li><a href="">Фольга 70 см</a></li>
                            <li><a href="">ШАРЫ ОЛИМПИЙСКИЕ 36” / 90 см - ПАСТЕЛЬ</a></li>
                            <li><a href="">ШАРЫ ОЛИМПИЙСКИЕ 36” / 90 см - Металлик</a></li>
                        </ul>
                    </div>
                </div>
                <div class="palitra-content col-md-9">
                    <h2 class="palitra-title">Пасстель - бельгия</h2>
                    <div class="row">
                        <div class="product__item col-md-3 col-sm-4 col-xs-6">
                            <a href="#">
                                <div class="product__item-pic">
                                    <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                                </div>
                                <div class="product__item-text"><b>002</b><br />Белый</div>
                            </a>
                        </div>
                        <div class="product__item col-md-3 col-sm-4 col-xs-6">
                            <a href="#">
                                <div class="product__item-pic">
                                    <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                                </div>
                                <div class="product__item-text"><b>002</b><br />Белый</div>
                            </a>
                        </div>
                        <div class="product__item col-md-3 col-sm-4 col-xs-6">
                            <a href="#">
                                <div class="product__item-pic">
                                    <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                                </div>
                                <div class="product__item-text"><b>002</b><br />Белый</div>
                            </a>
                        </div>
                        <div class="product__item col-md-3 col-sm-4 col-xs-6">
                            <a href="#">
                                <div class="product__item-pic">
                                    <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                                </div>
                                <div class="product__item-text"><b>002</b><br />Белый</div>
                            </a>
                        </div>
                        <div class="product__item col-md-3 col-sm-4 col-xs-6">
                            <a href="#">
                                <div class="product__item-pic">
                                    <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                                </div>
                                <div class="product__item-text"><b>002</b><br />Белый</div>
                            </a>
                        </div>
                        <div class="product__item col-md-3 col-sm-4 col-xs-6">
                            <a href="#">
                                <div class="product__item-pic">
                                    <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                                </div>
                                <div class="product__item-text"><b>002</b><br />Белый</div>
                            </a>
                        </div>
                        <div class="product__item col-md-3 col-sm-4 col-xs-6">
                            <a href="#">
                                <div class="product__item-pic">
                                    <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                                </div>
                                <div class="product__item-text"><b>002</b><br />Белый</div>
                            </a>
                        </div>
                        <div class="product__item col-md-3 col-sm-4 col-xs-6">
                            <a href="#">
                                <div class="product__item-pic">
                                    <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                                </div>
                                <div class="product__item-text"><b>002</b><br />Белый</div>
                            </a>
                        </div>
                        <div class="product__item col-md-3 col-sm-4 col-xs-6">
                            <a href="#">
                                <div class="product__item-pic">
                                    <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                                </div>
                                <div class="product__item-text"><b>002</b><br />Белый</div>
                            </a>
                        </div>
                        <div class="product__item col-md-3 col-sm-4 col-xs-6">
                            <a href="#">
                                <div class="product__item-pic">
                                    <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                                </div>
                                <div class="product__item-text"><b>002</b><br />Белый</div>
                            </a>
                        </div>
                        <div class="product__item col-md-3 col-sm-4 col-xs-6">
                            <a href="#">
                                <div class="product__item-pic">
                                    <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                                </div>
                                <div class="product__item-text"><b>002</b><br />Белый</div>
                            </a>
                        </div>
                        <div class="product__item col-md-3 col-sm-4 col-xs-6">
                            <a href="#">
                                <div class="product__item-pic">
                                    <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                                </div>
                                <div class="product__item-text"><b>002</b><br />Белый</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- palitra__content -->
        <div class="pagination-wrapper">
            <ul class="pagination">
                <li><a class="page-link prev" href="#">&nbsp;</a></li>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a class="page-link next" href="#">&nbsp;</a></li>
            </ul>
        </div>
    </div>
    <!-- container -->
</div>