<div class="recommend">
    <div class="container">
        <h2>Отлично сочетается со следующими шарами:</h2>
        <div class="recommend-carousel">
            <div class="product__item">
                <a href="cart.html">
                    <div class="product__item-pic">
                        <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                    </div>
                    <div class="product__item-basket">
                        <span><img src="/img/icon/basket.png" alt=""></span>
                    </div>
                    <div class="product__item-text">Малиновый пастель 30см</div>
                </a>
            </div>
            <div class="product__item">
                <a href="cart.html">
                    <div class="product__item-pic">
                        <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                    </div>
                    <div class="product__item-basket">
                        <span><img src="/img/icon/basket.png" alt=""></span>
                    </div>
                    <div class="product__item-text">Малиновый пастель 30см</div>
                </a>
            </div>
            <div class="product__item">
                <a href="cart.html">
                    <div class="product__item-pic">
                        <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                    </div>
                    <div class="product__item-basket">
                        <span><img src="/img/icon/basket.png" alt=""></span>
                    </div>
                    <div class="product__item-text">Малиновый пастель 30см</div>
                </a>
            </div>
            <div class="product__item">
                <a href="cart.html">
                    <div class="product__item-pic">
                        <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                    </div>
                    <div class="product__item-basket">
                        <span><img src="/img/icon/basket.png" alt=""></span>
                    </div>
                    <div class="product__item-text">Малиновый пастель 30см</div>
                </a>
            </div>
            <div class="product__item">
                <a href="cart.html">
                    <div class="product__item-pic">
                        <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                    </div>
                    <div class="product__item-basket">
                        <span><img src="/img/icon/basket.png" alt=""></span>
                    </div>
                    <div class="product__item-text">Малиновый пастель 30см</div>
                </a>
            </div>
            <div class="product__item">
                <a href="cart.html">
                    <div class="product__item-pic">
                        <img class="product__item-img" src="/img/catalog-item-1.jpg" alt="">
                    </div>
                    <div class="product__item-basket">
                        <span><img src="/img/icon/basket.png" alt=""></span>
                    </div>
                    <div class="product__item-text">Малиновый пастель 30см</div>
                </a>
            </div>
        </div>
    </div>
</div>
