<div class="reviews hidden-xs">
    <div class="container">
        <h2 class="section-title">отзывы</h2>
        <!-- Put this div tag to the place, where the Comments block will be -->
        <div id="vk_comments"></div>
        <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", {
            limit: 10,
            attach: false
        });
        </script>
        <!--  reviews__content-->
    </div>
    <!-- container-->
</div>
<!--reviews-->
