<div class="search">
    <div class="container">
        <div id="custom-search-input">
            <div class="input-group">
                <input type="text" class="form-control input-lg" placeholder="Поиск по каталогу" />
                <span class="input-group-btn">
                  <button class="btn btn-lg" type="button">Найти</button>
                </span>
            </div>
        </div>
    </div>
</div>
