<div class="social">
    <div class="container">
        <h2 class="section-title">Мы в социальных сетях</h2>
        <div class="social__content">
            <a href="#" target="_blank"><img src="/img/social-vk.png" alt="VK"></a>
            <a href="#" target="_blank"><img src="/img/social-inst.png" alt="instagram"></a>
            <a href="#" target="_blank"><img src="/img/social-mail.png" alt="mail.ru"></a>
        </div>
        <!--  social__content  -->
    </div>
    <!-- container  -->
</div>
<!-- social  -->
