<div class="subscription hidden-xs">
    <div class="container">
        <h3 class="subscription__title">Будь в курсе новинок и акций! <strong>Подпишись</strong></h3>
        <div class="subscription__content">
            <form class="subscription__form form-inline">
                <input type="text" class="form-control" placeholder="Имя">
                <input type="email" class="form-control" placeholder="Email">
                <button type="submit" class="btn btn-default">Подписаться</button>
            </form>
        </div>
        <!-- subscription__content  -->
    </div>
    <!--  container -->
</div>
<!--  subscription  -->
