<div class="top-bar navbar-fixed-top">
    <div class="top-menu" id="js-nav-container">
        <div class="container">
            <div class="top-menu__addr hidden-xs"><span><img src="img/icon/addr.png" alt=""></span>г. Алматы</div>
            <div class="top-menu__palette hidden-xs">
                <a href="/palitra.html"><span><img src="img/icon/colors.png" alt="" /></span>Палитра шаров</a>
            </div>
            <div class="top-menu__phone">
                <a href="tel:+88888888888"><span><img src="img/icon/phone.png" alt=""></span>+7 727 35-44-123</a>
                <a href="tel:+88888888888"><span class="hidden-lg hidden-md hidden-sm"><img src="img/icon/phone.png" alt=""></span>+7 777 113-11-33</a>
            </div>
            <a class="top-menu__email hidden-xs" data-toggle="modal" data-target="#myModal" href="mailto:mail@mail.ru"><span><img src="img/icon/email.png" alt=""></span>Написать нам</a>
            <button type="button" class="navbar-toggle collapsed visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Открыть меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="top-menu__basket">
                <span><img src="img/icon/basket.png" alt=""></span>Ваша корзина</div>
        </div>
    </div>
</div>
