.about-us {
    padding: 35px 0;
}

.about-us__content {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 15px;
    p {
        padding: 0 20%;
        margin-bottom: 35px;
        text-align: center;
        font-size: 14px;
        color: $color_oslo_gray_approx;
        line-height: 1.7;
    }
}

.about-us__link {
    font-size: 15px;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 30px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: .3s;
    background: $color_cerulean_approx;
    padding: 10px 20px;
    &:hover {
        color: $white;
        text-decoration: none;
        background: $color_blue_lagoon_approx;
    }
}
