
.advantages {
	padding-top: 45px;
	margin-bottom: 30px;
}
.advantages__item {
	padding: 35px 0 50px;
	margin-bottom: 15px;
	background: $color_cerulean_approx;
	text-align: center;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: .3s;
	&:hover {
		background: $color_tree_poppy_approx;
	}
}
.advantages__img {
	height: 65px;
	margin-bottom: 15px;
}
.advantages__text {
	color: $white;
	font-weight: bold;
	text-transform: uppercase;
}
.advantages__content .row {
	margin: 0;
	> div {
		padding: 0 5px;
	}
}