.catalog__cart {
    h2 {
        text-align: left;
        text-transform: none;
        font-weight: normal;
        &:after {
            left: 0;
            right: auto;
        }
    }
    .price {
        font-size: 24px;
        font-weight: 100;
        margin-top: 30px;
        span {
            font-size: 36px;
        }
    }
}

.to-basket {
    margin-top: 25px;
    text-align: center;
    .btn {
        padding: 15px 25px;
        background-color: $color_cerulean_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
        display: inline-block;
        margin-bottom: 5px;
        .icon img {
            padding-left: 5px;
            margin-top: -8px;
        }
    }
    .one-click {
        color: $color_cerulean_approx;
        text-decoration: underline;
        margin-left: 30px;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 5px;
    }
}

.item-fields {
    margin-top: 30px;
    font-size: 18px;
}

.info-description {
    margin-top: 30px;
}

.item-contains {
    margin-top: 30px;
    border-top: 1px solid $color_tapa_approx;
    border-bottom: 1px solid $color_tapa_approx;
    padding: 15px 0 10px;
    font-size: 16px;
    h3 {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.contains-items {
    margin-left: -10px;
    margin-right: -10px;
    div[class*=col-] {
        padding: 10px;
    }
}

.item-extra {
    margin-top: 40px;
    font-size: 13px;
    .icon {
        max-width: 40px;
        margin-right: 10px;
    }
}

.extra-info span {
    color: $color_fire_bush_approx;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

@media(max-width: 1350px) {}

@media(max-width: 1199px) {}

@media(max-width: 991px) {}

@media(max-width: 767px) {
    .cart {
        text-align: center;
        margin-bottom: 40px;
        h2 {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    .cart-img {
        margin: 0 auto;
    }
    .to-basket {
        text-align: center;
        a {
            font-size: 12px;
        }
        .one-click {
            padding: 15px 5px;
            background-color: $color_silver_chalice_approx;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 50px;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: $white;
            margin-left: 10px;
            text-decoration: none;
        }
    }
    .contains-items p {
        font-size: 12px;
    }
}

@media(max-width: 480px) {}

@media(max-width: 321px) {
    .to-basket {
        .one-click {
            margin-left: 0;
        }
    }
    .contains-items {
        div[class*=col-] {
            padding: 10px;
            min-height: 100px;
            text-align: left;
        }
    }
}
