
.category {
    background: $color_aqua_squeeze_approx;
    padding: 40px 0;
}
.product__item {
    margin-bottom: 25px;
    text-align: center;
    a {
        padding: 7px;
        padding-bottom: 25px;
        display: block;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: .3s;
        background: $white;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 0 5px $black_30;
        position: relative;
        &:hover {
            .product__item-text {
                text-decoration: underline;
            }
            .product__item-basket span {
                background: $color_california_approx;
            }
        }
    }
    .product__item-pic {
        padding: 15px 0 30px;
        border: 1px solid $color_iron_approx;
        position: relative;
    }
    .product__item-img {
        max-width: 100%;
        padding: 0 25px;
    }
    .product__item-text {
        text-align: center;
        font-size: 14px;
        color: $color_pacific_blue_approx;
    }
    .product__item-basket {
        margin-top: -20px;
        position: relative;
        z-index: 99;
        margin-bottom: 20px;
        > span {
            display: inline-block;
            width: 42px;
            height: 42px;
            line-height: 38px;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 50%;
            background: $color_cerulean_approx;
        }
    }
}
.product__item-pic img {
    margin: 0 auto;
}
.product__item-basket img {
    padding: 10px;
}



/*
responsive
*/

@media (max-width: 1350px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .category {
        background-color: #fff;
    }
    .product__item .product__item-img {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {}

@media (max-width: 321px) {}
