
.catalog {
	padding-top: 30px;
	padding-bottom: 25px;
	background: $color_aqua_squeeze_approx;
}
.catalog__item {
	margin-bottom: 25px;
	a {
		padding: 7px;
		display: block;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: .3s;
		background: $white;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 5px $black_30;
		&:hover .catalog__item-text {
			text-decoration: underline;
		}
	}
	.catalog__item-img {
		width: 100%;
		margin-bottom: 10px;
	}
	.catalog__item-text {
		text-align: center;
		font-size: 14px;
		color: $color_pacific_blue_approx;
	}
}



/*
responsive
*/

@media (max-width: 1350px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .catalog {
        background-color: transparent;
    }
}

@media (max-width: 480px) {}

@media (max-width: 321px) {}
