
//urls
$url_0: url(/img/feedback-bg.png);

.feedback {
	padding-top: 35px;
	padding-bottom: 75px;
	background: $url_0 center center no-repeat;
	background-size: cover;
	.section-title {
		margin-bottom: 50px;
	}
}
.feedback__text {
	text-align: center;
	margin-bottom: 25px;
	font-size: 18px;
	color: $color_tuatara_approx;
}
.feedback__form {
	font-size: 0;
	textarea {
		resize: none;
	}
	.form-control {
		margin-right: 2%;
		background: $white;
		border: 1px solid $color_silver_chalice_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 15px;
		&:focus {
			border: 1px solid $color_pizazz_approx;
		}
	}
	button {
		max-width: 20%;
		margin: 0 auto;
		color: $white;
		border: 1px solid $color_pizazz_approx;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: .3s;
		background: $color_pizazz_approx;
		font-weight: bold;
		display: block;
		text-transform: uppercase;
		font-size: 15px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50px;
		padding: 15px 20px;
		&:hover {
			border: 1px solid $color_pizazz_approx;
			background: $white;
			color: $color_pizazz_approx;
		}
	}
}