
footer {
  padding: 30px 0 10px;
  background: $color_shark_approx;
  color: $color_oslo_gray_approx;
  font-size: 14px;
  a {
    color: $color_oslo_gray_approx;
    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
}
.footer__copyright {
  padding-top: 20px;
  p {
    line-height: 24px;
    span {
      font-size: 18px;
    }
  }
}
.footer__logo {
  text-align: center;
  img {
    opacity: 0.6;
  }
}
.footer__contacts {
  text-align: right;
  font-size: 15px;
  line-height: 20px;
}


/*
responsive
*/

@media (max-width: 1350px) {}

@media (max-width: 1199px) {
  .footer__copyright {
    p {
      text-align: center;
    }
  }
  
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {}

@media (max-width: 321px) {}
