
//urls
$url_0: url(/img/header-bg.png);

header {
  background: $url_0 0 0 no-repeat;
  background-size: cover;
}

.header__logo {
  padding-top: 70px;
  padding-bottom: 5px;
  text-align: center;
}
.navbar-custom {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  background: $black_30;
  border: 0;
  margin-bottom: 0;
}
.header__menu {
  text-align: center;
  font-size: 0;
  ul {
    float: none;
    display: inline-block;
    text-align: center;
  }
  li {
    display: inline-block;
    vertical-align: top;
    float: none;
  }
  a {
    display: block;
    padding: 15px;
    color: $white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: 0.3s;
    &:hover {
    }
    &.active {
      background-color: $black_30;
    }
  }
}
.fast_link {
  .row {
  }
  div[class*=col-] {
    padding: 0 5px;
    &:first-child {
      padding-left: 15px;
    }
    &:last-child {
      padding-right: 15px;
    }
  }
  .btn {
    background-color: $color_cerulean_approx;
    text-transform: uppercase;
    color: $white;
    width: 100%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
  }
}
.nav > li > a {
  &:focus {
    background-color: $black_20;
  }
  &:hover {
    background-color: $black_20;
  }
}
.dropdown-toggle .caret {
  display: none;
}



//urls
$url_0: url(../img/close.png);

@media(max-width: 1350px) {
}
@media(max-width: 1199px) {
}
@media(max-width: 991px) {
}
@media(max-width: 767px) {
  .navbar-toggle {
    background-color: $black_30;
    padding: 10px!important;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    margin: 15px 15px 15px 0!important;
    float: left;
    > span {
      background-color: $white;
    }
  }
  header {
    background-position: center;
    min-height: 30vh;
  }
  .header__logo {
    padding: 15px 0 0;
    img {
      width: 50%;
      max-width: 160px;
    }
  }
  .navbar-custom {
    height: 0;
    min-height: 0;
  }
  .navbar-collapse {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    margin: 0;
    padding: 0;
    border: 0;
    &.in {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 9999;
      margin: 0;
      padding: 0;
      border: 0;
      .nav {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: $black;
        z-index: 99999;
        border: 0;
        margin: 0;
        padding-top: 20px;
        overflow-y: auto;
      }
    }
    .nav {
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      background-color: $black;
      z-index: 99999;
      border: 0;
      margin: 0;
      padding-top: 20px;
      overflow-y: auto;
      li a {
        font-weight: normal;
        padding-left: 15px;
        border-bottom: 1px solid $color_celeste_approx;
      }
    }
    button {
      background-color: transparent;
      display: block;
      position: absolute;
      width: 23px;
      height: 23px;
      top: 9px;
      right: 12.5px;
      background-image: $url_0;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 999999;
      border: 0;
    }
    li {
      display: block;
      text-align: left;
    }
  }
  .dropdown-menu {
    position: static;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .2s;
    background-color: $color_california_approx;
    li a {
      color: $white;
      span {
        display: inline-block;
        text-align: center;
        width: 30px;
        margin-right: 10px;
      }
      img {
        max-width: 100%;
        display: inline-block;
      }
    }
  }
  .dropdown-toggle {
    position: relative;
    &.open {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      .caret {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: rotate(0);
      }
      ~ .dropdown-menu {
        max-height: 5000px;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .4s;
      }
    }
    .caret {
      display: inline-block;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(180deg);
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all .2s;
    }
  }
}
@media(max-width: 480px) {
  header {
    background-position: center;
    min-height: 180px;
  }
}
@media(max-width: 321px) {
  header {
    background-position: center;
    min-height: 180px;
  }
}