
.modal-content {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
}
.modal-body {
	padding: 40px 30px;
	form {
		max-width: 400px;
		margin: 0 auto;
	}
	.form-control {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		&:not(textarea) {
			height: 42px;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50px;
		}
	}
	.btn {
		margin: 0 auto;
		display: block;
		height: 42px;
		font-size: 16px;
		text-transform: uppercase;
		color: $white;
		background-color: $color_california_approx;
		border: 0;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50px;
	}
	p {
		font-size: 18px;
		text-align: center;
	}
}
.modal-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	&:after {
		content: '';
		display: block;
		width: 70px;
		border-bottom: 3px solid $color_shark_approx;
		margin: 10px auto 0;
	}
}
.modal-backdrop {
	background-color: $color_california_approx;
	opacity: .8;
}
button.close {
	position: absolute;
	z-index: 99;
	right: -30px;
	top: -30px;
	opacity: 1;
	span {
		color: $white;
		font-size: 36px;
	}
}