
//urls
$url_0: url(/img/how-make-order-bg.png);

.order {
	padding-top: 30px;
	padding-bottom: 40px;
	background: $url_0 center center no-repeat;
	background-size: cover;
	.section-title {
		color: $white;
		&:after {
			background: $white;
		}
	}
}
.order__content {
	font-size: 0;
	display: table;
	> div {
		display: table-cell;
		vertical-align: middle;
	}
	.row {
		margin: 0;
	}
	.order-left {
		width: 35%;
	}
	.order-right {
		width: 35%;
	}
	.order-center {
		width: 30%;
		img {
			max-width: 250px;
			margin: 0 auto;
		}
	}
}
.order-pic {
	text-align: center;
	padding: 15px;
}
.order-img {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	width: 100%;
}
.order__item {
	color: $white;
	position: relative;
	.order__number {
		font-size: 60px;
		font-weight: bold;
		line-height: 0.7;
		position: absolute;
	}
	.order__title {
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.order__text {
		font-size: 14px;
	}
}
.order-1 {
	margin-top: 40px;
	margin-bottom: 90px;
}
.order-3 {
	margin-top: 40px;
	margin-bottom: 90px;
}
.order-left > div {
	text-align: right;
	padding-right: 55px;
	.order__number {
		right: 0;
		top: -3px;
	}
}
.order-right > div {
	padding-left: 55px;
	.order__number {
		left: 0;
		top: -3px;
	}
}