
.page {
	padding: 30px 0;
	h3 {
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	blockquote {
		font-style: italic;
		font-size: 14px;
		margin-left: 3em;
		border-left: 0;
	}
	.blockquote_title {
		color: #0091b9;
		text-transform: uppercase;
	}
}
.delivery__text {
	padding-bottom: 100px;
	> div {
		margin-bottom: 30px;
		position: relative;
	}
	h3 {
		margin-bottom: 5px;
	}
	ul li {
		padding-left: 15px;
		margin-bottom: 5px;
		&:before {
			content: '-';
			display: inline-block;
			margin-left: -5px;
			margin-right: 5px;
		}
	}
}
.delivery-pic {
}
.delivery__info {
	padding: 0 10%;
	text-align: center;
}
.delivery__table {
	width: 100%;
	tr {
		border-bottom: 1px solid $color_nobel_approx;
		&:first-child {
			background: $color_aqua_squeeze_approx;
			border-bottom: none;
		}
	}
	td {
		padding: 10px 0;
		padding-left: 20px;
	}
	th {
		padding: 10px 0;
		padding-left: 20px;
	}
}


/*
responsive
*/

@media (max-width: 1350px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .delivery-pic {
        position: static;
    }
    .delivery__text {
        padding-bottom: 20px;
    }
	.page blockquote {
		margin-left: 0;
	}
}

@media (max-width: 480px) {}

@media (max-width: 321px) {}