
.pagination-wrapper {
  text-align: center;
}

.pagination {
  li {
    transition: .3s;
    a {
      margin: 0 5px;
      color: #fff;
      background: #c9c9c9;
      border-radius: 50%;
      &.active {
        background: #ffa00e;
        &:hover {
          color: #fff;
          cursor: default;
        }
      }
      &.page-link {
        background: none;
        background: url();
      }
    }
  }
  
  
  .page-link.prev,
  .page-link.next {
    width: 32px;
    height: 32px;
    background: url(/img/icon/arrows.png) 0 0 no-repeat;
    border: none;
  }
  .page-link.prev {
    z-index: 100;
    background-position: 0 1px;
    &:hover {
      background-position: 0 -33px;
    }
  }
  .page-link.next {
//    right: 160px;
    background-position: 0 -66px;
    &:hover {
      background-position: 0 -98px;
    }
  }
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
  border-radius: 50%;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-radius: 50%;
}
/*
responsive
*/

@media (max-width: 1350px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .show-more {
        padding: 15px 5px;
        background-color: #03b6e7;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        margin-left: 10px;
        text-decoration: none;
        max-width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {}

@media (max-width: 321px) {}
