.breadcrumb {
    background: none;
    border-bottom: 1px solid $color_aqua_squeeze_approx;
    a {
        color: rgb(38, 40, 41);
    }
    &>li+li:before {
        content: ">";
    }
}

.section-title {
    position: relative;
    font-family: "Open Sans";
    padding-bottom: 17px;
    margin-bottom: 30px;
    font-size: 36px;
    color: rgb(52, 58, 59);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    &:after {
        position: absolute;
        content: "";
        bottom: 0;
        right: 50%;
        margin-right: -27px;
        background-color: rgb(52, 58, 59);
        width: 54px;
        height: 4px;
    }
}

.page__header {
    padding-top: 15px;
    // padding-bottom: 40px;
    background: #fff;
}


/*
responsive
*/

@media (max-width: 1350px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .breadcrumb {
        margin: 10px 0;
    }
    .breadcrumb a {
        font-size: 16px;
    }
    .page__header {
        padding-top: 0;
        padding-bottom: 0;
    }
    .page-title {
        margin: 0 -15px;
        padding: 15px 0 10px;
        background-color: #03b6e7;
    }
    .page-title h2 {
        margin-bottom: 0;
        font-size: 28px;
    }
    .section-title {
        font-size: 24px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {}

@media (max-width: 321px) {}
