.palitra {
    background-color: $color_aqua_squeeze_approx;
    padding-top: 30px;
}

.palitra-title {
    font-size: 36px;
    text-transform: uppercase;
    margin-top: -3px;
    margin-bottom: 20px;
}

.sidebar-menu li {
    margin-bottom: 15px;
    a {
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: $color_pacific_blue_approx;
        &:hover {
            text-decoration: underline;
        }
    }
    &.active a,
    & a:hover {
        color: $color_fire_bush_approx;
        font-weight: bold;
        text-decoration: none;
    }
}
