
//urls
$url_0: url(/img/arrow_blue_left.png);
$url_1: url(/img/arrow_blue_right.png);

//@extend-elements
//original selectors
//.recommend-carousel .slick-prev, .recommend-carousel .slick-next
%extend_1 {
	width: 32px;
	height: 32px;
	top: calc(50% - 16px);
	background: $url_0 0 0 no-repeat;
	color: transparent;
	opacity: .4;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .2s;
}


.recommend {
	background-color: $color_aqua_squeeze_approx;
	margin-top: 120px;
	padding: 30px 0 20px;
	h2 {
		font-size: 36px;
		text-align: center;
		text-transform: uppercase;
	}
}
.recommend-carousel {
	max-width: 70%;
	margin: 30px auto 0;
	.slick-slide {
		padding: 0 20px;
	}
	.slick-prev {
		@extend %extend_1;
		&:hover {
			opacity: 1;
		}
		&:before {
			content: none;
		}
	}
	.slick-next {
		@extend %extend_1;
		background: $url_1 0 0 no-repeat;
		&:hover {
			opacity: 1;
		}
		&:before {
			content: none;
		}
	}
}