
//urls
$url_0: url(/img/reviews-quote-left.png);
$url_1: url(/img/icon/arrows.png);

//@extend-elements
//original selectors
//.reviews-info .slick-prev, .reviews-info .slick-next
%extend_1 {
    width: 32px;
    height: 32px;
    top: 85%;
    background: $url_1 0 0 no-repeat;
}


.reviews {
    margin-bottom: 30px;
    .slick-prev {
        background: $black;
        &:before {
            content: "";
        }
    }
    .slick-next {
        background: $black;
        &:before {
            content: "";
        }
    }
    .container {
        padding: 40px 0;
        background: $url_0 left -2px no-repeat;
    }
}