
.search {
    margin-bottom: 35px;
    .input-group {
        position: relative;
        width: 100%;
        // padding-top: 25px;
        // border-top: 1px solid $color_aqua_squeeze_approx;
        &:focus {
            border: none;
        }
        .input-group-btn {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            width: auto;
            z-index: 9;
        }
    }
    .form-control {
        background: $color_aqua_squeeze_approx;
        border: 1px solid transparent;
        padding-left: 25px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 30px!important;
        font-size: 14px;
        color: $color_outer_space_approx;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: none;
        width: 100%;
        &:focus {
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: none;
            border-color: $color_fire_bush_approx;
        }
    }
    button {
        font-size: 15px;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 30px;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: .3s;
        height: 46px;
        background: $color_california_approx;
        border: none;
        outline: none;
        padding-left: 40px;
        padding-right: 40px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 30px!important;
        &:hover {
            text-decoration: none;
            background: $color_california_approx;
            color: $white;
        }
        &:active {
            background: $color_meteor_approx;
            color: $white;
        }
    }
}


/*
responsive
*/

@media (max-width: 1350px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .search {
        margin-bottom: 15px;
        .input-group {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 480px) {}

@media (max-width: 321px) {}
