
//urls
$url_0: url(/img/slider/slide1.png);

.main-slider {
  &.slick-slider {
    // margin-bottom: 0;
  }
  .slick-slide {
    height: 645px;
    position: relative;
  }
  .slick-dots {
    bottom: 15px;
    li {
      border: 3px solid $white;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 50%;
      button {
        position: absolute;
        width: 14px;
        height: 14px;
        &:before {
          line-height: 16px;
          color: transparent;
        }
      }
      &.slick-active {
        border-color: $color_fire_bush_approx;
        button:before {
          font-size: 8px;
          color: transparent;
          background-color: $color_fire_bush_approx;
          top: 4px;
          left: 4px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
        }
      }
    }
  }
  .slide-1 {
    background: $url_0 0 0 no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.slide__text {
  position: absolute;
  top: 20%;
}
.slide__title {
  font-size: 4em;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
}
.slide__btn {
  display: inline-block;
  margin-top: 25px;
  padding: 15px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50px;
  border: 2px solid $color_fire_bush_approx;
  background-color: $color_california_27;
  color: $white;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: .3s;
  text-transform: uppercase;
  &:hover {
    color: $white;
    background: $color_fire_bush_approx;
  }
}


@media(max-width: 1350px) {
}
@media(max-width: 1199px) {
}
@media(max-width: 991px) {
}
@media(max-width: 767px) {
  .slide__title {
    font-size: 32px;
  }
  .main-slider .slick-slide {
    max-height: 250px;
  }
}
@media(max-width: 480px) {
}
@media(max-width: 321px) {
}