.social {
	margin-bottom: 30px;
}
.social__content {
	text-align: center;
}

@media(max-width: 1350px) {
}
@media(max-width: 1199px) {
}
@media(max-width: 991px) {
}
@media(max-width: 767px) {
	.social__content img {
		max-width: 90px;
		margin: 0 auto;
		padding: 10px;
	}
}
@media(max-width: 480px) {
}
@media(max-width: 321px) {
}