.subscription {
    padding: 25px 0;
    background: $color_cerulean_approx;
    text-align: center;
}

.subscription__title {
    margin-bottom: 20px;
    font-size: 32px;
    color: $white;
    text-transform: uppercase;
}

.subscription__form {
    font-size: 0;
    > * {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 15px;
    }
    .form-control {
        width: 38%;
        margin-right: 2%;
        background: $white;
        border: 1px solid $color_silver_chalice_approx;
        &:focus {
            border: 1px solid $color_pizazz_approx;
        }
    }
    button {
        width: 20%;
        color: $white;
        border: 1px solid $color_pizazz_approx;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: .3s;
        background: $color_pizazz_approx;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
            color: $color_pizazz_approx;
            background-color: $white;
            border-color: $color_pizazz_approx;
        }
    }
}
