//urls0px
$url_3: url(/img/icon/basket-arrow.png);
.top-menu {
    background: $black_30;
    color: $white;
    text-align: center;
    font-size: 17px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .2s;
    a {
        color: $white;
        display: inline-block;
    }
    .container > * {
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        padding: 15px 10px 10px 0;
        margin: 0 15px;
    }
    .top-menu__addr {}
    .top-menu__palette {}
    .top-menu__phone {
        padding: 0;
        a {
            padding: 15px 10px 10px 0;
            font-weight: bold;
        }
    }
    .top-menu__email {}
    .top-menu__basket {
        background-color: $black_30;
        padding-left: 15px;
        padding-right: 30px;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 10px;
            height: 7px;
            background: $url_3 0 0 no-repeat;
            top: 24px;
            right: 8px;
        }
        span > img {
            margin-top: -4px;
        }
    }
    span > img {
        padding-right: 10px;
        max-width: 30px;
        max-height: 30px;
    }
}

.top-menu-bg {
    background: $black_90;
}

.top-menu__palette {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.top-menu__email {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

@media(max-width: 1350px) {}

@media(max-width: 1199px) {
    .top-menu {
        a {
            font-size: 14px;
        }
        .container > *:not(.top-menu__phone, .top-menu__basket) {
            padding: 15px 0 10px;
            margin: 0 0;
        }
        .container > *.top-menu__phone a,
        .container > *.top-menu__basket a {
            font-size: 14px;
        }
    }
}

@media(max-width: 991px) {}

@media(max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
        min-height: 100px;
        margin-bottom: -100px;
    }
    .top-menu {
        background-color: transparent;
        .top-menu__basket {
            background-color: transparent;
            padding: 0;
            max-width: 120px;
            text-align: right;
            line-height: 16px;
            float: right;
            margin: 15px;
            margin-right: -5px;
            padding-right: 0;
        }
        .top-menu__phone a {
            padding-right: 0;
            display: block;
            &:nth-child(even) {
                float: left;
            }
            &:nth-child(odd) {
                float: right;
            }
        }
    }
    .top-menu__phone {
        position: absolute;
        top: calc(30vh - 50px);
        width: calc(100% - 30px);
        left: 0;
        border-top: 1px solid $white;
    }
    .top-menu__basket {
        &:after {
            display: none;
        }
        > span {
            float: right;
            padding-right: 0;
            padding-left: 5px;
            height: 32px;
            line-height: 32px;
        }
    }
}

@media(max-width: 480px) {
    .top-menu {
        .top-menu__phone {
            top: 130px;
            width: 100%;
            margin: 0;
            padding: 0 15px;
        }
    }
}

@media(max-width: 321px) {
    .top-menu {
        .top-menu__phone {
            top: 130px;
            width: 100%;
            margin: 0;
            padding: 0 15px;
            a {
                font-size: 15px;
            }
        }
        .top-menu__phone span {
            display: none;
        }
    }
}
