@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    font-family: 'Open Sans', Tahoma, sans-serif;
    color: rgb(38, 40, 41);
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        color: #fff;
    }
}

@mixin inline-block {
    display: inline-block;
    vertical-align: top;
}

@mixin btn-link {
    font-size: 15px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    transition: .3s;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}


/*
responsive
*/

@media (max-width: 1350px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .zoomContainer {
        display: none;
    }
}

@media (max-width: 480px) {}

@media (max-width: 321px) {}
