$white: #fff;
$black: #000;
$black_20: rgba(0, 0, 0, 0.2);
$black_30: rgba(0, 0, 0, 0.3);
$black_90: rgba(0, 0, 0, 0.9);
$color_california_27: rgba(255, 155, 0, 0.271);
$color_cerulean_approx: #03b6e7;
$color_cerulean_40_approx: rgba(3, 182, 231, 0.4);
$color_celeste_approx: #ccc;
$color_california_approx: #ff9a00;
$color_oslo_gray_approx: #838b8c;
$color_blue_lagoon_approx: #086d89;
$color_tree_poppy_approx: #f6961b;
$color_tapa_approx: #777;
$color_fire_bush_approx: #ee9e22;
$color_aqua_squeeze_approx: #e7eff1;
$color_pacific_blue_approx: #0096bf;
$color_iron_approx: #d8d8d8;
$color_tuatara_approx: #383838;
$color_silver_chalice_approx: #ababab;
$color_pizazz_approx: #ff8f00;
$color_shark_approx: #262829;
$color_nobel_approx: #b1b1b1;
$color_masala_approx: #3c3c3c;
$color_outer_space_approx: #343a3b;
$color_meteor_approx: #d78404;