//= template/head.html
//= template/topbar.html
//= template/header.html
//= template/page_header.html
<div class="visible-xs">
    //= template/fast_links.html
</div>
<div class="page">
    <div class="container">
        <div class="page__content">
            <h3>Чем наполняется воздушный шарик?</h3>
            <p>Существует большое количество наполнителей воздушных шариков и все их можно условно разделить на 2 группы: традиционные и не традиционные. К первым относятся воздух, гелий и водород. Ко вторым может относиться вода, пиво, плохо пахнущие вещества и т.д., размер данной группы наполнителей зависит от целей использования воздушного шарика и от трезвости наполняющего. Но ниже мы поговорим о традиционном наполнении воздушного шарика.</p>
            <p>Воздух хорошо подходит в качестве наполнителя воздушного шарика, потому что он имеется везде. Воздушные шарики, наполненные воздухом, сдуваются медленно и не опасны для здоровья, но данный шарик будет лететь только вниз.</p>
            <blockquote class="blockquote">
                <p class="blockquote_title">СПРАВКА:</p>
                <p class="">воздух - невидимая, газообразная оболочка земли; присутствием своим обусловливает животную и растительную жизнь, изменение погоды, распространение звука, выветривание горных пород и тому подобное.
                </p>
            </blockquote>
            <p>По новейшим определениям вес литра чистого воздуха (освобожденного от водяных паров, углекислоты, аммиачных и других соединений) при 0 градусов Цельсия и 760 мм. ртутного давления в Париже = 1,29329 граммам. Лишь 1/6 атмосферного воздуха пригодна для дыхания и горения. Состав воздуха - 21% кислорода и 79% азота. Другие составные части воздуха: аргон, водяной пар, углекислота, озон, перекись водорода, азотная кислота, аммиачные соединения, углеводороды, микроорганизмы, минеральная пыль, йод, обыкновенный спирт (в самых ничтожных количествах) и другие элементы и вещества.
            </p>
            <p>
                Воздушный шарик, наполненный водородом, будет прекрасно летать и еще лучше взрываться. Детонатором для взрыва может послужить зажженная сигарета. Очень плохо, когда этот детонатор исполнит свою функцию, находясь у кого-нибудь во рту. Поэтому компания Студио-Арт не наполняет воздушные шары водородом
            </p>
            <p>
                Гелий – инертный газ, легкий, летающий, идеально подходит для наполнения воздушного шарика. Один только недостаток – быстро уходит через поры латексного шарика. Срок его службы составляет двое суток. Фольгированные воздушные шарики, наполненные гелием, служат гораздо дольше.</p>
            <blockquote class="blockquote">
                <p class="blockquote_title">СПРАВКА:</p>
                <p class="">гелий - инертный газ, без цвета и запаха, не ядовит, хорошо диффундирует через твердые тела, значительно легче воздуха. Гелий не образует химических соединений с большинством элементов. Гелий применяют в основном при сварке химически чистых и активных материалов и сплавов, а также сплавов на основе алюминия и магния.
                </p>
            </blockquote>
            <p>Из-за способности обеспечивать повышение проплавления (благодаря высокому значению потенциала ионизации) гелий применяют иногда в тех случаях, когда требуется получить большую глубину проплавления или специальную форму шва. Транспортируют и хранят гелий в газообразном состоянии в стальных баллонах при давлении р=15МПа.</p>



        </div>
        <!-- page__content-->
    </div>
    <!-- container-->
</div>


<!--page-->
<div class="visible-xs">
    //= template/social.html
</div>
//= template/footer.html
