//= template/head.html
//= template/topbar.html
//= template/header.html
//= template/page_header.html
//= template/search.html
<div class="visible-xs">
	//= template/fast_links.html
</div>
//= template/category.html
<div class="visible-xs">
	//= template/social.html
</div>

//= template/footer.html


