//= template/head.html
//= template/topbar.html
//= template/header.html
//= template/page_header.html
<div class="visible-xs">
    //= template/fast_links.html
</div>
<div class="page">
    <div class="container">
        <div class="page__content">
            <div class="delivery">
                <div class="delivery__text clearfix">
                    <img class="delivery-img pull-right img-responsive" src="/img/delivery.png" alt="Доставка">
                    <div class="delivery__item">
                        <h3>Условия доставки шариков по г.Алматы:</h3>
                        <ul>
                            <li>Минимальная сумма заказа для платной доставки: 3 000 тенге.</li>
                            <li>Заказы на сумму более 5.000 тенге доставляются БЕСПЛАТНО с 08:00 до 22:00 в пределах Аль-Фараби- Саина- Рыскулова- ВОАД.</li>
                            <li>Заказы на сумму более 10.000 тенге доставляются БЕСПЛАТНО с 08:00 до 22:00 за пределы Аль-Фараби- Саина- Рыскулова- ВОАД.</li>
                            <li>Доставка в отдаленные районы города Алматы с 09:00 до 21:00 стоит от 1500 тенге.</li>
                            <li>Точное время доставки может измениться на +/-15мин</li>
                            <li>Ночная доставка с 22:00 до 00:00 стоит 1.500 тенге!</li>
                        </ul>
                    </div>
                    <div class="delivery__item">
                        <h3>Условия доставки шариков по Алматинской области:</h3>
                        <ul>
                            <li>Стоимость доставки расчитывается индивидуально.</li>
                            <li>Минимальная сумма заказа для доставки по Алматинской области: 5.000 тенге.</li>
                            <li>Точное время доставки может измениться на +/-60мин.</li>
                            <li>Ночная доставка с 22:00 до 00:00 стоит 1.500 тенге!</li>
                        </ul>
                    </div>
                </div>
                <p class="delivery__info">На этой странице представлен список ориентировачных цен на услуги по доставке гелиевых шаров, точную стоимость и возможность доставки можно уточнить по телефонам 35-44-123 и 8-777-113-11-33
                </p>
                <table class="delivery__table">
                    <tbody>
                        <tr>
                            <th>Доставка</th>
                            <th>Цена</th>
                        </tr>
                        <tr>
                            <td>В пределах Аль-Фараби - Саина - Рыскулова - ВОАД</td>
                            <td>600.00 тг.</td>
                        </tr>
                        <tr>
                            <td>Бесплатная, (при заказе от 5,000тг) в пределах Аль-Фараби - Саина - Рыскулова - ВОАД</td>
                            <td>0.00 тг.</td>
                        </tr>
                        <tr>
                            <td>За пределы Аль-Фараби - Саина - Рыскулова - ВОАД</td>
                            <td>1000.00 тг.</td>
                        </tr>
                        <tr>
                            <td>Бесплатная, (при заказе от 10,000тг) за пределы Аль-Фараби - Саина - Рыскулова - ВОАД</td>
                            <td>0.00 тг.</td>
                        </tr>
                        <tr>
                            <td>Доставка в отдаленные и трудно доступные районы</td>
                            <td>1500.00 тг.</td>
                        </tr>
                        <tr>
                            <td>Ночная доставка с 22:00 до 00:00</td>
                            <td>1500.00 тг.</td>
                        </tr>
                        <tr>
                            <td>Самовывоз из магазина на Райымбека 232</td>
                            <td>0.00 тг.</td>
                        </tr>
                        <tr>
                            <td>Самовывоз из магазина в мкр.Кулагер 65</td>
                            <td>0.00 тг.</td>
                        </tr>
                    </tbody>
                </table>
                <!-- delivery__text-->
            </div>
            <!-- delivery-->
        </div>
        <!-- page__content-->
    </div>
    <!-- container-->
</div>
<!--page-->
<div class="visible-xs">
    //= template/social.html
</div>
//= template/footer.html
